[Unit]
Description=Телеграм-бот Certus Telecom Tasks Bot
After=network.target

[Service]
Type=simple
User=botuser
WorkingDirectory=/path/to/your/project
ExecStart=/usr/bin/python3 /path/to/your/project/main.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
